  <table id ="epics" class="display" data-source="<%= epic_url(format:"json") %>"   >
<thead>
 <tr>
 <th>Subtask Key</th>
    <th>Subtask Name</th>
    <th>Subtask type</th>
    <th>assignee</th>
    <th>Estimated Time</th>
    <th>Logged Time</th>
    <th>Variance</th>
    <th>Status</th>
 </tr>
 </thead>
 <tbody>
 	<% @subtasks.subtasks.each do |subtask| %>
 	<tr>
 	<td><%= subtask.key %></td>
 	<td><%= subtask.name %></td>
 	<td><%= subtask.issuetype %></td>	
 	<td><%= subtask.assignee.split(".").join(" ") %></td>
 	<td><%= ModulsHelper.hours_mins(subtask.estimated_time) %></td>
 	<td><%= ModulsHelper.hours_mins(subtask.logged_time) %></td>
 	<td><%= ModulsHelper.hours_mins(subtask.remaining_time) %>
   	<span><%if indicator(subtask.estimated_time, logged_time) ==0 %>
	<%= image_tag("redarrow.png", :size => "25x25")%>
    <% end %>
  	</span>
 	</td>
 	<td><%= subtask.status %></td>
 	<%end%>
 	</tr>
 </tbody>

 </table>